* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.big-container {
  max-width: 1500px;
  margin: 0 auto;
}

.container {
  max-width: 1245px;
  margin: 0 auto;
}

.development {
  max-width: 1500px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

@media (max-width: 500px) {
  .container_without-padding {
    padding-right: 0;
  }
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Extra Bold';
  src: url("../fonts/ProximaNova-Extrabld.eot");
  src: url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  overflow: auto;
}

.title-bg {
  padding-left: 50px;
  display: inline-block;
  height: 100px;
  width: 550px;
}

.title-with-bg {
  font-family: 'Proxima Nova Extra Bold', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .title-bg {
    padding-left: 0px;
    text-align: center;
    width: 100%;
    height: 70px;
  }
  .title-with-bg {
    font-size: 32px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .title-with-bg {
    font-size: 28px;
  }
}

@media (max-width: 500px) {
  .title-with-bg {
    text-align: left;
  }
}

.text-with-padding-left {
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 24px;
  padding-left: 50px;
  line-height: 35px;
}

@media (max-width: 768px) {
  .text-with-padding-left {
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .text-with-padding-left {
    font-size: 18px;
    line-height: 24px;
  }
}

.navbar {
  border-bottom: 2px solid #adadad;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.navbar__links {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 25px;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__link {
  margin: 0 20px;
  text-decoration: none;
  color: #000;
}

.navbar-tel {
  display: none;
}

.navbar__burger {
  width: 40px;
  height: 30px;
  background-color: transparent;
  border: none;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
}

.logo {
  position: relative;
  z-index: 1;
  color: #000;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Proxima Nova Bold', sans-serif;
  text-transform: uppercase;
}

.burger__line {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #000;
}

@media (max-width: 900px) {
  .navbar {
    position: relative;
    background-color: #fff;
  }
  .navbar__links {
    position: absolute;
    z-index: -1;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: 0;
    top: 100px;
    min-height: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    color: #fff;
    background-color: #5d626b;
  }
  .navbar__link {
    color: #fff;
    margin: 0 15px;
  }
  .navbar__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__logo {
    color: #2b2a2a;
  }
  .burger__line {
    background-color: #2b2a2a;
  }
}

@media (max-width: 767px) {
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .navbar-wrap {
    min-height: 70px;
    background-color: #fff;
  }
  .navbar__links {
    top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
  .navbar__link {
    line-height: 25px;
    margin-bottom: 15px;
  }
  .navbar-tel {
    display: inline-block;
    position: relative;
    float: right;
    text-decoration: none;
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 30px;
    color: #f6ae48;
    letter-spacing: 2px;
  }
}

@media (max-width: 600px) {
  .navbar-tel {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .navbar-wrap {
    min-height: 55px;
  }
  .navbar-tel {
    font-size: 17px;
  }
  .navbar__burger {
    width: 43px;
    height: 27px;
  }
  .logo {
    font-size: 35px;
  }
}

.hero {
  background: url("../img/hero/hero-bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  position: relative;
}

.hero-wrap {
  position: relative;
  z-index: 1;
  max-width: 1080px;
  margin: 0 auto;
  padding: 125px 0 100px 0;
}

.hero__logo {
  color: #fff;
  display: inline-block;
  padding-top: 15px;
}

.hero-tel {
  position: relative;
  float: right;
  text-decoration: none;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 40px;
  color: #f6ae48;
  letter-spacing: 2px;
  padding-top: 15px;
}

.hero__title {
  font-size: 48px;
  font-family: 'Proxima Nova Extra Bold', sans-serif;
  text-align: center;
  line-height: 40px;
}

.hero__text {
  font-size: 18px;
  font-family: 'Proxima Nova Regular', sans-serif;
  text-align: center;
  max-width: 870px;
  margin: 0 auto;
  line-height: 27px;
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 870px;
  margin: 0 auto;
}

.hero__info-box {
  margin-top: 54px;
}

.hero .blue-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #30326395;
}

.hero .info-box {
  text-align: center;
  border: 1px solid #fff;
  padding: 7px 0 15px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 232px;
          flex: 0 0 232px;
}

.hero .info-box__icon {
  position: relative;
  top: 5px;
  padding: 0 7px;
  line-height: 0;
  font-family: Arial, sans-serif;
  font-size: 35px;
  font-weight: 900;
}

.hero .info-box__num {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 48px;
  letter-spacing: 7px;
  margin-bottom: -10px;
  padding-top: 15px;
}

.hero .info-box__title {
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}

@media (max-width: 1024px) {
  .hero .hero-wrap {
    padding: 60px 0 60px 0;
  }
  .hero .hero__title {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .hero .hero-wrap {
    padding: 130px 0 60px 0;
  }
  .hero .hero__margin-top {
    margin-top: 65px;
  }
  .hero .hero-tel {
    display: none;
  }
  .hero .hero__logo {
    display: none;
  }
  .hero .hero__title {
    font-size: 30px;
  }
  .hero .hero__info-box {
    margin-top: 30px;
  }
  .hero .info-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }
}

@media (max-width: 650px) {
  .hero .hero__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .info-box {
    display: inline-block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    width: 80%;
    margin: 20px auto 0 auto;
  }
}

@media (max-width: 500px) {
  .hero .hero__title {
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 25px;
    line-height: 35px;
  }
  .hero .info-box {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .hero .hero-wrap {
    padding: 110px 0 50px 0;
  }
  .hero .hero__title {
    font-size: 23px;
    text-align: left;
  }
  .hero .hero__text {
    text-align: left;
  }
  .hero .info-box {
    padding: 0 0 0 0;
  }
  .hero .info-box__num {
    font-size: 30px;
  }
}

.services {
  padding: 130px 0 200px 0;
}

.services-description {
  background: url("../img/services/services-description-bg.png") no-repeat center;
  background-size: 45%;
}

.services-description-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 250px;
}

.services-description__title {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 48px;
}

.services-description__text {
  font-family: 'Proxima Nova Regular', sans-serif;
  max-width: 765px;
  font-size: 20px;
  text-align: left;
}

.services-items {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.services-items__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  padding: 13px 15px 25px 15px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.services-items__icon {
  color: #00b9e7;
  font-size: 50px;
}

.services-items__icon .fa-mobile-phone {
  font-size: 70px;
}

.services-items__icon .fa-rocket {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.services-items__price {
  display: none;
  font-size: 18px;
  border: 2px solid #fff;
  color: #fff;
  padding: 4px 10px;
  width: 135px;
}

.services-items__title {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 24px;
}

.services-items__text {
  line-height: 27px;
  font-family: 'Proxima Nova Regular', sans-serif;
}

.services-items .icon_margin {
  margin-bottom: -13.5px;
}

.services-items-buy-button {
  display: none;
  color: #fff;
  font-size: 30px;
  float: right;
}

@media (max-width: 991px) {
  .services-items {
    padding-top: 60px;
    margin: 0 -10px;
  }
  .services-items__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 10px;
  }
  .services-description__title {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .services {
    padding: 65px 0 100px 0;
  }
  .services-items {
    padding-top: 70px;
  }
  .services-description {
    background-size: 70%;
  }
  .services-description-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services-description__text {
    max-width: 100%;
  }
}

@media (min-width: 650px) {
  .services-items__item:hover {
    background-color: #f6ae48;
    color: #fff;
    cursor: default;
  }
  .services-items__item:hover .services-items__icon {
    color: #fff;
  }
  .services-items__item:hover .services-items__price {
    display: inline-block;
    color: #fff;
  }
  .services-items__item:hover .services-items-buy-button {
    display: inline-block;
  }
}

@media (max-width: 650px) {
  .services {
    padding: 50px 0 50px 0;
  }
  .services-description__title {
    font-size: 32px;
    margin-bottom: -1px;
  }
  .services-description__text {
    font-size: 18px;
  }
  .services-items {
    padding-top: 30px;
  }
  .services-items__item {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    cursor: default;
  }
  .services-items__icon {
    width: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .services-items__title {
    margin-bottom: -5px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .services-items__text {
    padding-bottom: 20px;
    line-height: 22px;
  }
  .services-items-buy-button {
    color: #00b9e7;
    display: inline-block;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .services-items__price {
    border: 2px solid #00b9e7;
    color: #00b9e7;
    display: inline-block;
  }
  .services-items__buy-button {
    margin-top: -35px;
  }
}

@media (max-width: 450px) {
  .services-description {
    background-size: 100%;
  }
}

.credo {
  background: url("../img/credo/credo-bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  position: relative;
}

.credo-wrap {
  position: relative;
  z-index: 1;
  padding: 130px 0 160px 0;
  text-align: center;
}

.credo__title {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 50px;
}

.credo__text {
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 24px;
  line-height: 33px;
}

.blue-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #30326395;
}

@media (max-width: 991px) {
  .credo-wrap {
    padding: 100px 0 120px 0;
  }
  .credo__title {
    font-size: 40px;
  }
  .credo__text {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .credo-wrap {
    padding: 45px 0 55px 0;
  }
  .credo__title {
    font-size: 25px;
  }
  .credo__text {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 450px) {
  .credo-wrap {
    padding: 50px 0 60px 0;
  }
  .credo__title {
    font-size: 25px;
  }
  .credo__text {
    line-height: 24px;
    text-align: left;
  }
}

.development {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  color: #fff;
  background: url(../img/development/development-bg.jpg) no-repeat top left;
  background-size: 45%;
  padding-bottom: 50px;
}

.development__title {
  font-family: 'Proxima Nova Extra Bold', sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  padding-top: 100px;
  line-height: 0;
}

.offer-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

.offer-boxes__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  margin-bottom: 10px;
  overflow: hidden;
}

.offer-boxes__image {
  width: 100%;
  height: 100%;
}

.offer-boxes__item:hover .hover-line {
  top: 100%;
}

.offer-boxes__title {
  display: block;
  margin: 0;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
}

.offer-boxes__text-group {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.offer-boxes__price {
  display: inline-block;
  font-size: 24px;
  padding: 12px 25px;
  text-decoration: none;
  color: #fff;
}

.offer-boxes__price_blue {
  border: 2px solid #00b9e7;
}

.offer-boxes__price_yellow {
  border: 2px solid #ffcb00;
}

.offer-boxes__price_green {
  border: 2px solid #66bf0d;
}

.offer-boxes__price:hover {
  color: #00b9e7;
}

.offer-boxes__buy-btn {
  float: right;
  margin-top: 10px;
  font-size: 30px;
  color: #fff;
}

.offer-boxes__buy-btn:hover {
  color: #00b9e7;
}

.pay-item-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #fff;
  padding-top: 20%;
}

.black-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.65;
}

.hover-line {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 80px;
  height: 48px;
  background-color: #000;
  width: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.hover-line_blue {
  background-color: #00b9e7;
}

.hover-line_yellow {
  background-color: #ffcb00;
}

.hover-line_green {
  background-color: #66bf0d;
}

@media (max-width: 1024px) {
  .hover-line {
    height: 20px;
  }
}

@media (max-width: 910px) and (min-width: 768px) {
  .offer-boxes__title {
    font-size: 35px;
  }
  .offer-boxes__price {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .development {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background: none;
    padding: 60px 0;
  }
  .development__title {
    color: #000;
    padding-top: 0;
    text-align: center;
    font-size: 40px;
  }
  .development__title {
    font-size: 37px;
  }
  .offer-boxes {
    max-width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 30px;
  }
  .offer-boxes__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
    margin: 0 5px 10px 5px;
  }
  .offer-boxes__title {
    font-size: 37px;
  }
  .offer-boxes__price {
    font-size: 16px;
  }
}

.pay-item-group {
  padding-top: 35px;
}

@media (max-width: 650px) {
  .development__title {
    font-size: 35px;
  }
}

@media (max-width: 550px) {
  .offer-boxes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer-boxes__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 65%;
            flex: 0 1 65%;
    margin: 0 0 10px 0;
  }
  .offer-boxes__title {
    font-size: 40px;
  }
  .offer-boxes__price {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .development__title {
    font-size: 30px;
  }
  .development__title {
    font-size: 30px;
    margin-top: 15px;
  }
  .development__price {
    font-size: 15px;
  }
  .offer-boxes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer-boxes__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 85%;
            flex: 0 1 85%;
    margin: 0 0 10px 0;
  }
}

.about-search {
  overflow: hidden;
}

.about-search-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space between;
      -ms-flex-pack: space between;
          justify-content: space between;
  padding: 80px 0 110px 0;
}

.about-search__title-bg {
  background: url("../img/about-search/title-bg.png") no-repeat center left;
  background-size: 100%;
}

.about-search__body {
  width: 50%;
}

.about-search__title {
  font-family: 'Proxima Nova Extra Bold', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.about-search__text {
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 24px;
  line-height: 35px;
  padding-left: 50px;
}

.about-search__image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.about-search__image {
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .about-search-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 0 80px 0;
  }
  .about-search__body {
    width: 100%;
  }
  .about-search__title-bg {
    background-size: 70%;
    background-position-y: 20px;
    background-position-x: center;
  }
  .about-search__text {
    padding-left: 0px;
    padding-bottom: 50px;
  }
  .about-search__image-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  .about-search__image {
    padding-bottom: 0;
    width: 30%;
    height: 70%;
  }
}

@media (max-width: 600px) {
  .about-search-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0 60px 0;
  }
  .about-search__title-bg {
    background-position-y: 23px;
  }
  .about-search__text {
    font-size: 18px;
    line-height: 25px;
  }
  .about-search__image-block {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .about-search__title-bg {
    background: none;
  }
  .about-search__image-block {
    width: 80%;
    margin: 0 auto;
  }
  .about-search__image {
    width: 35%;
    height: 90%;
  }
}

.projects {
  color: #fff;
}

.projects__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/projects/title-bg.png") no-repeat center 100%;
  background-color: #303263;
  background-position-y: 20px;
  min-height: 120px;
}

.projects__title {
  font-family: 'Proxima Nova Bold', sans-serif;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}

.projects__big-images-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__small-images-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__image-box-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.projects__image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.projects__image-lg {
  width: 100%;
  height: 100%;
}

.projects__image {
  width: 100%;
  height: 100%;
}

.projects__more-btn-box {
  width: 100%;
  padding: 25px 0;
  background-color: #303263;
}

.projects__more-btn {
  display: block;
  text-align: center;
  max-width: 270px;
  margin: 0 auto;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  background-color: #6a6b8e;
  padding: 22px 27px;
  border-radius: 15px;
}

.projects__image-box-lg:hover .yellow-overlay {
  display: block;
}

.projects__image-box:hover .yellow-overlay {
  display: block;
}

.projects__image-box-lg:hover .projects-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__image-box:hover .projects-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-text {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.text_small {
  font-size: 15px;
}

.yellow-overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f6ae48;
  border: 7px solid #fff;
  opacity: 0.75;
}

@media (max-width: 991px) {
  .projects__title-block {
    min-height: 70px;
    background-position-y: 15px;
    background-size: 80%;
  }
  .projects__title {
    font-size: 34px;
  }
  .projects__more-btn-box {
    padding: 16px 0;
  }
  .projects__more-btn {
    max-width: 230px;
    font-size: 22px;
    padding: 15px 20px;
  }
}

@media (max-width: 768px) {
  .projects__title-block {
    min-height: 60px;
    background-position-y: 10px;
    background-size: 80%;
  }
  .projects__title {
    font-size: 30px;
    margin: 20px 0;
  }
  .projects__more-btn-box {
    padding: 10px 0;
  }
  .projects__more-btn {
    max-width: 210px;
    font-size: 20px;
    padding: 13px 18px;
  }
}

@media (max-width: 600px) {
  .projects {
    background-color: #303263;
    padding: 0 3px;
  }
  .projects__title-block {
    min-height: 50px;
    background-position-y: center;
    background-size: 95%;
  }
  .projects__title {
    font-size: 28px;
    margin: 5px 0;
  }
}

@media (max-width: 600px) {
  .projects__image-box-lg {
    margin: 3px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 47%;
            flex: 1 1 47%;
  }
  .projects__image-box {
    margin: 3px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 47%;
            flex: 1 1 47%;
  }
  .projects__more-btn {
    max-width: 170px;
    font-size: 18px;
    padding: 10px 14px;
    border-radius: 10px;
  }
  .projects-text {
    font-size: 15px;
  }
  .projects .text_small {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .projects__title-block {
    background: none;
  }
}

.about-adaptate-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 160px 0 175px 0;
  overflow: hidden;
}

.about-adaptate__title-bg {
  background: url("../img/about-adaptate/title-bg.png") no-repeat center left;
  background-size: 70%;
  margin-bottom: 20px;
}

.about-adaptate__body {
  width: 50%;
}

.about-adaptate__image {
  padding-left: 40px;
}

@media (min-width: 1245px) {
  .about-adaptate__image {
    width: 140%;
  }
}

@media (max-width: 991px) {
  .about-adaptate-wrap {
    padding: 100px 0 120px 0;
  }
}

@media (max-width: 900px) {
  .about-adaptate__body {
    width: 60%;
  }
  .about-adaptate__image {
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .about-adaptate-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 45px 0 55px 0;
  }
  .about-adaptate__body {
    width: 100%;
  }
  .about-adaptate__image {
    width: 100%;
    padding-left: 0;
    padding-top: 50px;
  }
  .about-adaptate__title-bg {
    background-size: 50%;
    background-position-y: 20px;
    background-position-x: center;
  }
  .about-adaptate__body {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .about-adaptate__title-bg {
    background-position-y: 23px;
  }
}

@media (max-width: 500px) {
  .about-adaptate__body {
    padding-right: 15px;
  }
  .about-adaptate__image {
    width: 500px;
  }
  .about-adaptate__title-bg {
    background: none;
  }
}

.trade-in {
  background: url("../img/trade-in/trade-in-bg-1.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  position: relative;
}

.trade-in__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.50;
}

.trade-in-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 65px 0;
}

.trade-in__title {
  font-family: 'Proxima Nova Extra Bold', sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  margin: 0;
}

.trade-in__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0 50px 0;
}

.trade-in-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  padding: 0 10px;
}

.trade-in-item__title-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 50px;
}

.trade-in-item__title {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 30px;
  margin: 0;
  padding-left: 25px;
}

.trade-in__text {
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 18px;
}

.trade-in__link {
  display: inline-block;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 24px;
  background-color: #f6ae48;
  padding: 16px 22px;
  text-decoration: none;
  color: #fff;
  border-radius: 18px;
}

@media (max-width: 1024px) {
  .trade-in__row {
    padding: 70px 0 50px 0;
  }
  .trade-in__title {
    font-size: 40px;
  }
  .trade-in-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 10px 20px 10px;
  }
}

@media (max-width: 768px) {
  .trade-in__title {
    font-size: 35px;
  }
  .trade-in__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 70px 0 10px 0;
  }
  .trade-in-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
    padding: 0 0 40px 0;
    text-align: center;
  }
  .trade-in-item__title-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-height: 100%;
  }
  .trade-in-item__title {
    font-size: 24px;
    margin: 15px 0;
    padding-left: 0;
  }
  .trade-in__text {
    line-height: 27px;
  }
  .trade-in__link {
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .trade-in__title {
    font-size: 30px;
  }
  .trade-in__row {
    padding: 50px 0 10px 0;
  }
  .trade-in-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 0 40px 0;
  }
  .trade-in-item__title {
    font-size: 22px;
  }
  .trade-in__text {
    text-align: left;
  }
  .trade-in__link {
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 13px;
  }
}

.about-careful-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 160px 0 175px 0;
}

.about-careful__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about-careful__image-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-left: 50px;
}

.about-careful__image {
  max-width: 100%;
}

.about-careful__title-bg {
  background: url("../img/about-careful/title-bg.png") no-repeat center left;
  background-size: 70%;
}

@media (max-width: 991px) {
  .about-careful-wrap {
    padding: 100px 0 120px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-careful__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .about-careful__image-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-top: 50px;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .about-careful-wrap {
    padding: 45px 0 55px 0;
  }
  .about-careful__title-bg {
    background-size: 55%;
    background-position-y: 20px;
    background-position-x: center;
  }
}

@media (max-width: 600px) {
  .about-careful__title-bg {
    background-size: 60%;
    background-position-y: 18px;
  }
  .about-careful__image-block {
    display: block;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .about-careful__title-bg {
    background: none;
  }
}

.work-request {
  background: url("../img/work-request/work-request-bg.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  color: #fff;
}

.work-request-wrap {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 130px 0 115px 0;
}

.work-request__description {
  max-width: 345px;
}

.work-request-title {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.work-request__title {
  margin-top: -5px;
}

.work-request__text {
  font-family: 'Proxima Nova Light', sans-serif;
  font-size: 18px;
  text-align: left;
  line-height: 25px;
}

.work-request .form-wrap {
  max-width: 620px;
}

.work-request .form__group {
  outline: none;
  padding-left: 19px;
  width: 50%;
  height: 38px;
  background: none;
  border: 4px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  float: left;
}

.work-request .form__textarea {
  outline: none;
  padding-left: 19px;
  resize: none;
  width: 100%;
  height: 170px;
  border: 4px solid #fff;
  color: #fff;
  background: none;
}

.work-request .form ::-webkit-input-placeholder {
  color: #fff;
}

.work-request .form :-ms-input-placeholder {
  color: #fff;
}

.work-request .form ::-ms-input-placeholder {
  color: #fff;
}

.work-request .form ::placeholder {
  color: #fff;
}

.work-request .form__message {
  display: inline-block;
  margin-top: 10px;
  padding-left: 24px;
}

.work-request .form__button {
  margin-top: 14px;
}

.work-request .form-button {
  float: right;
  background-color: #f6ae48;
  color: #fff;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px 28px;
  border: none;
  border-radius: 15px;
}

.work-request .input-name {
  border-right: 1px solid #fff;
}

.work-request .input-email {
  width: 100%;
  height: 46px;
  border: 4px solid #fff;
  border-bottom: 1px solid #fff;
  background: none;
}

.work-request .blue-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #30326395;
}

@media (max-width: 1024px) {
  .work-request .work-request__description {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .work-request .work-request-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 65px 0 60px 0;
  }
  .work-request .work-request__description {
    text-align: center;
    max-width: 100%;
  }
  .work-request .work-request-title {
    font-size: 25px;
  }
  .work-request .work-request__text {
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 16px;
  }
  .work-request .form-wrap {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .work-request .form__group {
    width: 100%;
  }
  .work-request .input-name {
    border-right: 4px solid #fff;
  }
}

.footer {
  min-height: 100px;
  background-color: #f6ae48;
}
/*# sourceMappingURL=style.css.map */