* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1245px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Extra Bold';
  src: url("../fonts/ProximaNova-Extrabld.eot");
  src: url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
}

.navbar {
  border-bottom: 2px solid #adadad;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.navbar__links {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 25px;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__link {
  margin: 0 20px;
  text-decoration: none;
  color: #000;
}

.navbar-tel {
  display: none;
}

.navbar__burger {
  width: 40px;
  height: 30px;
  background-color: transparent;
  border: none;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
}

.logo {
  position: relative;
  z-index: 1;
  color: #000;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Proxima Nova Bold', sans-serif;
  text-transform: uppercase;
}

.burger__line {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #000;
}

@media (max-width: 900px) {
  .navbar {
    position: relative;
    background-color: #fff;
  }
  .navbar__links {
    position: absolute;
    z-index: -1;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: 0;
    top: 100px;
    min-height: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    color: #fff;
    background-color: #5d626b;
  }
  .navbar__link {
    color: #fff;
    margin: 0 15px;
  }
  .navbar__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__logo {
    color: #2b2a2a;
  }
  .burger__line {
    background-color: #2b2a2a;
  }
}

@media (max-width: 767px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  .navbar-wrap {
    min-height: 70px;
  }
  .navbar__links {
    top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
  .navbar__link {
    line-height: 25px;
    margin-bottom: 15px;
  }
  .navbar-tel {
    display: inline-block;
    position: relative;
    float: right;
    text-decoration: none;
    font-family: 'Proxima Nova Bold', sans-serif;
    font-size: 30px;
    color: #f6ae48;
    letter-spacing: 2px;
  }
}

@media (max-width: 600px) {
  .navbar-tel {
    font-size: 20px;
  }
}

.hero {
  background: url("../img/hero/hero-bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  position: relative;
}

.hero-wrap {
  position: relative;
  z-index: 1;
  max-width: 1080px;
  margin: 0 auto;
  padding: 125px 0 100px 0;
}

.hero__logo {
  color: #fff;
  display: inline-block;
  padding-top: 15px;
}

.hero-tel {
  position: relative;
  float: right;
  text-decoration: none;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 40px;
  color: #f6ae48;
  letter-spacing: 2px;
  padding-top: 15px;
}

.hero__title {
  font-size: 45px;
  font-family: 'Proxima Nova Extra Bold', sans-serif;
  text-align: center;
}

.hero__text {
  font-size: 18px;
  font-family: 'Proxima Nova Light', sans-serif;
  text-align: center;
  max-width: 870px;
  margin: 0 auto;
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 870px;
  margin: 0 auto;
}

.hero__info-box {
  margin-top: 54px;
}

.hero .blue-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #30326395;
}

.hero .info-box {
  text-align: center;
  border: 1px solid #fff;
  padding: 7px 0 15px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 232px;
          flex: 0 0 232px;
}

.hero .info-box__icon {
  position: relative;
  top: 5px;
  padding: 0 7px;
  line-height: 0;
  font-family: Arial, sans-serif;
  font-size: 35px;
  font-weight: 900;
}

.hero .info-box__num {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 48px;
  letter-spacing: 7px;
  margin-bottom: -10px;
  padding-top: 15px;
}

.hero .info-box__title {
  font-family: Arial, sans-serif;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 2px;
}

@media (max-width: 1024px) {
  .hero .hero-wrap {
    padding: 60px 0 60px 0;
  }
}

@media (max-width: 767px) {
  .hero {
    display: none;
  }
  .hero .info-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }
}

.services {
  padding: 130px 0 200px 0;
}

.services-description {
  background: url("../img/services/services-description-bg.png") no-repeat center;
  background-size: 45%;
}

.services-description-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 250px;
}

.services-description__title {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 48px;
}

.services-description__text {
  font-family: 'Proxima Nova Regular', sans-serif;
  max-width: 765px;
  font-size: 20px;
  text-align: left;
}

.services-items {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.services-items__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  padding: 13px 15px 25px 15px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.services-items__icon {
  color: #00b9e7;
  font-size: 50px;
}

.services-items__icon .fa-mobile-phone {
  font-size: 70px;
}

.services-items__icon .fa-rocket {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.services-items__price {
  display: none;
  font-size: 18px;
  border: 2px solid #fff;
  color: #fff;
  padding: 4px 10px;
  width: 135px;
}

.services-items__title {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 24px;
}

.services-items__text {
  line-height: 27px;
  font-family: 'Proxima Nova Regular', sans-serif;
}

.services-items .icon_margin {
  margin-bottom: -13.5px;
}

.services-items-buy-button {
  display: none;
  color: #fff;
  font-size: 30px;
  float: right;
}

@media (max-width: 991px) {
  .services-items {
    padding-top: 100px;
    margin: 0 -10px;
  }
  .services-items__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 10px;
  }
  .services-description__title {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .services {
    padding: 65px 0 100px 0;
  }
  .services-items {
    padding-top: 70px;
  }
  .services-description {
    background-size: 70%;
  }
  .services-description-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services-description__text {
    max-width: 100%;
  }
}

@media (min-width: 650px) {
  .services-items__item:hover {
    background-color: #f6ae48;
    color: #fff;
    cursor: default;
  }
  .services-items__item:hover .services-items__icon {
    color: #fff;
  }
  .services-items__item:hover .services-items__price {
    display: inline-block;
    color: #fff;
  }
  .services-items__item:hover .services-items-buy-button {
    display: inline-block;
  }
}

@media (max-width: 650px) {
  .services {
    padding: 105px 0 50px 0;
  }
  .services-description__title {
    font-size: 32px;
    margin-bottom: -1px;
  }
  .services-description__text {
    font-size: 18px;
  }
  .services-items {
    padding-top: 30px;
  }
  .services-items__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    cursor: default;
  }
  .services-items__icon {
    width: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .services-items__title {
    margin-bottom: -5px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .services-items__text {
    padding-bottom: 10px;
    line-height: 22px;
  }
  .services-items-buy-button {
    color: #00b9e7;
    display: inline-block;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .services-items__price {
    border: 2px solid #00b9e7;
    color: #00b9e7;
    display: inline-block;
  }
  .services-items__buy-button {
    margin-top: -35px;
  }
}

@media (max-width: 450px) {
  .services-description {
    background-size: 100%;
  }
  .services-items__text {
    text-align: center;
  }
}

.work-request {
  background: url("../img/work-request/work-request-bg.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  color: #fff;
}

.work-request-wrap {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 130px 0 115px 0;
}

.work-request__description {
  max-width: 345px;
}

.work-request-title {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.work-request__title {
  margin-top: -5px;
}

.work-request__text {
  font-family: 'Proxima Nova Light', sans-serif;
  font-size: 18px;
  text-align: left;
  line-height: 25px;
}

.work-request .form-wrap {
  max-width: 620px;
}

.work-request .form__group {
  outline: none;
  padding-left: 19px;
  width: 50%;
  height: 38px;
  background: none;
  border: 4px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  float: left;
}

.work-request .form__textarea {
  outline: none;
  padding-left: 19px;
  resize: none;
  width: 100%;
  height: 170px;
  border: 4px solid #fff;
  color: #fff;
  background: none;
}

.work-request .form ::-webkit-input-placeholder {
  color: #fff;
}

.work-request .form :-ms-input-placeholder {
  color: #fff;
}

.work-request .form ::-ms-input-placeholder {
  color: #fff;
}

.work-request .form ::placeholder {
  color: #fff;
}

.work-request .form__message {
  display: inline-block;
  margin-top: 10px;
  padding-left: 24px;
}

.work-request .form__button {
  margin-top: 14px;
}

.work-request .form-button {
  float: right;
  background-color: #f6ae48;
  color: #fff;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px 28px;
  border: none;
  border-radius: 15px;
}

.work-request .input-name {
  border-right: 1px solid #fff;
}

.work-request .input-email {
  width: 100%;
  height: 46px;
  border: 4px solid #fff;
  border-bottom: 1px solid #fff;
  background: none;
}

.work-request .blue-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #30326395;
}

@media (max-width: 1024px) {
  .work-request .work-request__description {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .work-request .work-request-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 65px 0 60px 0;
  }
  .work-request .work-request__description {
    text-align: center;
    max-width: 100%;
  }
  .work-request .work-request-title {
    font-size: 25px;
  }
  .work-request .work-request__text {
    font-size: 15px;
  }
  .work-request .form-wrap {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .work-request .form__group {
    width: 100%;
  }
  .work-request .input-name {
    border-right: 4px solid #fff;
  }
}
/*# sourceMappingURL=style.css.map */