.hero 
  background: url('../img/hero/hero-bg.jpg') no-repeat center
  background-size: cover
  color: #fff
  position: relative
  &-wrap
    position: relative
    z-index: 1
    max-width: 1080px
    margin: 0 auto
    padding: 125px 0 100px 0
  &__logo
    color:#fff
    display: inline-block
    padding-top: 15px
  &-tel
    position: relative
    float: right
    text-decoration: none
    +bold
    font-size: 40px
    color: #f6ae48
    letter-spacing: 2px
    padding-top: 15px
  &__title
    font-size: 45px;
    +extrabold
    text-align: center
  &__text
    font-size: 18px;
    +light
    text-align: center
    max-width: 870px
    margin: 0 auto    
  &__row
    display: flex
    justify-content: space-between
    max-width: 870px
    margin: 0 auto    
  &__info-box
    margin-top: 54px
  .blue-overlay 
    position: absolute
    width: 100%
    height: 100%
    background-color: #30326395
  .info-box
    text-align: center
    border: 1px solid #fff
    padding: 7px 0 15px 0
    flex: 0 0 232px
    &__icon
      position: relative
      top: 5px
      padding: 0 7px
      line-height: 0
      font-family: Arial, sans-serif
      font-size: 35px
      font-weight: 900
    &__num
      +bold
      font-size: 48px
      letter-spacing: 7px
      margin-bottom: -10px
      padding-top: 15px
    &__title
      font-family: Arial, sans-serif
      font-weight: 200
      font-size: 14px
      letter-spacing: 2px
      
  @media(max-width: 1024px)
    .hero
      &-wrap
        padding: 60px 0 60px 0
        
  @media(max-width: 767px)
    display: none
    .info-box 
      flex: 0 0 200px