.hero 
  background: url('../img/hero/hero-bg.jpg') no-repeat center
  background-size: cover
  color: #fff
  position: relative
  &-wrap
    position: relative
    z-index: 1
    max-width: 1080px
    margin: 0 auto
    padding: 125px 0 100px 0
  &__logo
    color:#fff
    display: inline-block
    padding-top: 15px
  &-tel
    position: relative
    float: right
    text-decoration: none
    +bold
    font-size: 40px
    color: #f6ae48
    letter-spacing: 2px
    padding-top: 15px
  &__title
    font-size: 48px;
    +extrabold
    text-align: center
    line-height: 40px
  &__text
    font-size: 18px;
    +regular
    text-align: center
    max-width: 870px
    margin: 0 auto    
    line-height: 27px
  &__row
    display: flex
    justify-content: space-between
    max-width: 870px
    margin: 0 auto    
  &__info-box
    margin-top: 54px
  .blue-overlay 
    position: absolute
    width: 100%
    height: 100%
    background-color: #30326395
  .info-box
    text-align: center
    border: 1px solid #fff
    padding: 7px 0 15px 0
    flex: 0 0 232px
    &__icon
      position: relative
      top: 5px
      padding: 0 7px
      line-height: 0
      font-family: Arial, sans-serif
      font-size: 35px
      font-weight: 900
    &__num
      +bold
      font-size: 48px
      letter-spacing: 7px
      margin-bottom: -10px
      padding-top: 15px
    &__title
      +regular
      font-size: 14px
      letter-spacing: 2px
      
  @media(max-width: 1024px)
    .hero
      &-wrap
        padding: 60px 0 60px 0
      &__title
        font-size: 40px
  @media(max-width: 767px)
    .hero
      &-wrap
        padding: 130px 0 60px 0
      &__margin-top
        margin-top: 65px
      &-tel 
        display: none
      &__logo 
        display: none
      &__title
        font-size: 30px
      &__info-box
        margin-top: 30px
    .info-box 
      flex: 0 0 200px
  @media(max-width: 650px)
    .hero
      &__row
        flex-direction: column
    .info-box
      display: inline-block
      flex: 0 0 80%
      width: 80%
      margin: 20px auto 0 auto
  @media(max-width: 500px)
    .hero
      &__title
        +bold
        font-size: 25px
        line-height: 35px
    .info-box
      width: 100%
  @media(max-width: 450px)
    .hero
      &-wrap
        padding: 110px 0 50px 0
      &__title 
        font-size: 23px
        text-align: left
      &__text
        text-align: left
    .info-box
      padding: 0 0 0 0
      &__num
        font-size: 30px