.navbar
  border-bottom: 2px solid #adadad
  &-wrap
    display: flex
    justify-content: space-between
    align-items: center
    min-height: 100px
  &__links 
    +bold
    font-size: 25px
    list-style: none
    padding: 0
    display: flex
  &__link
    margin: 0 20px
    text-decoration: none
    color: #000
  &-tel 
    display: none
  &__burger
    width: 40px
    height: 30px
    background-color: transparent
    border: none
    display: none
    flex-direction: column
    justify-content: space-between
    outline: none

.logo 
  position: relative
  z-index: 1
  color: #000
  text-decoration: none
  font-size: 40px
  +bold
  text-transform: uppercase

.burger
  &__line
    display: block
    width: 40px
    height: 3px
    background-color: #000

@media(max-width: 900px)
  .navbar
    position: relative
    background-color: #fff
    &__links
      position: absolute
      z-index: -1
      width: 100%
      justify-content: space-between
      left: 0
      top: 100px
      min-height: 60px
      align-items: center
      transform: translateY(-150%)
      color: #fff
      background-color: #5d626b
    &__link
      color: #fff
      margin: 0 15px
    &__burger
      display: flex
    &__logo
      color: #2b2a2a
  .burger
    &__line
      background-color: #2b2a2a

@media(max-width: 767px)
  .navbar
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 2
    &-wrap 
      min-height: 70px
      background-color: #fff
    &__links
      top: 60px
      flex-direction: column
      justify-content: flex-end
      align-items: flex-start
      padding-top: 20px
    &__link 
      line-height: 25px
      margin-bottom: 15px
    &-tel
      display: inline-block
      position: relative
      float: right
      text-decoration: none
      +bold
      font-size: 30px
      color: #f6ae48
      letter-spacing: 2px
@media(max-width: 600px)
  .navbar 
    &-tel
      font-size: 20px
@media(max-width: 400px)
  .navbar
    &-wrap
      min-height: 55px
    &-tel
      font-size: 17px
    &__burger
      width: 43px
      height: 27px
  .logo 
    font-size: 35px
    